.nav
	%ul
		%li.nav-brand
			= link_to "NoteyNote", root_path
		%li.nav-link
			= link_to "Login", new_user_session_path
		%li.nav-link
			= link_to "Register", new_user_registration_path

.welcome-content
	%h1 Welcome to NoteyNote
	%hr/
	%p
		NoteyNote Is a simple note taking application for all of your needs. Whether you need to write down your homework for this week or make some notes In a meeting, NoteyNote Is perfect for you.
		
